name: Tag

on:
  push:
    branches: [ master ]

jobs:

  tag-new-versions:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: salsify/action-detect-and-tag-new-version@v1.0.3
